.map-button {
    padding: 10px 25px;
    border: 2px solid #c0c0c0;
    background-color: #2c3e50;
    color: #c0c0c0;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    width: 30vw;
    font-family: 'Press Start 2P', sans-serif;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;

    &:hover {
        background-color: #3b3f46;
    }

    &.selected {
        background-color: #3b3f46;
        color: white;
    }
}

.game-choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.nb-players-display {
    color: #c0c0c0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.map-creation-box {
    color: #c0c0c0;
    border-radius: 5px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    background-color: transparent;
    position: relative;
}

.to-edit-button {
    background-color: #223240;
    color: #c0c0c0;
    padding: 10px 25px;
    border: 3px solid #c0c0c0;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Press Start 2P', sans-serif;

    &:hover {
        background-color: #3b3f46;
        color: white;
    }
}

.confirm-edit {
    padding-top: 20px;
}
.close-button {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Press Start 2P', sans-serif;
    color: #2c3e50;
    font-weight: bold;
}

.hidden-button {
    display: none;
}
