<div class="players-list">
    @for (player of players ; track player.socketId) {
    <div
        class="player"
        (mouseover)="hoveredPlayerId = player.socketId; checkHostPlayerId()"
        (mouseleave)="hoveredPlayerId = null"
        [style.background-image]="getPlayerBanner(player.name) ? 'url(' + getPlayerBanner(player.name) + ')' : 'none'"
        [class.has-banner]="getPlayerBanner(player.name)"
    >
        <div class="player-content">
            <div class="avatar-container">
                <img [src]="getAvatarPreview(player.avatar)" alt="{{ player.name }}" class="avatar" />
            </div>
            <span class="player-name">{{ player.name }}</span>
            @if (!isVirtualPlayerSocketId(player.socketId)) {
            <img class="user-level" [src]="'assets/level-badges/level-' + player.level + '.png'" alt="Niveau" />
            }
            @if (isVirtualPlayerSocketId(player.socketId)) {
            <span class="virtual-player-icon"> <img src="assets/icons/robot.png" alt="Bot" class="icon" /></span>
            } @if(isHost && player.socketId !== hostPlayerId && hoveredPlayerId === player.socketId){
            <button (click)="kickPlayer(player.socketId)" class="kick-button">exclure</button>
            }
        </div>
    </div>
    } @if(isHost && !isGameMaxed && !isGameLocked) {
    <button (click)="openProfileModal()" class="add-player-btn">+</button> }
</div>
