.action-bar {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.actions {
    display: flex;
    flex-direction: row;
    width: 27vw;
    gap: 1vw;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #b85c38;
    background-color: rgba(28, 36, 44, 0.8);
    padding: 2%;
    box-sizing: border-box;
}

button {
    background-color: #b85c38;
    color: white;
    border: none;
    padding: 0.8vw 1.5vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f39c12;
}

.action-button {
    position: relative;
    width: 4.5vw;
    height: 4.5vw;
    background-color: rgba(28, 36, 44, 0.8);
    border: 2px solid #b85c38;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.action-button:hover {
    transform: translateY(-0.5vw) scale(1.1);
    border: 2px solid #f39c12;
}
.action-button img {
    width: 90%;
    height: 90%;
}
.action-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.tooltip {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b85c38;
    color: #fff;
    padding: 0.5vw 1vw;
    font-size: 0.9vw;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #b85c38 transparent transparent transparent;
}
