.combat-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/backgrounds/backgroundcombat.png');
    background-size: cover;
    color: white;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 1000px;
    height: 65vh;
    max-height: 520px;
    padding: 5px;
    border: 5px solid #202020;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.player-combat-stats {
    display: flex;
    justify-content: space-between;
    width: 95%;
    z-index: 5;
    top: 10%;
    position: absolute;

    .player-info {
        display: flex;
        flex-direction: column;
        text-align: left;

        .player-combat-name {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        .player-combat-attack,
        .player-combat-defense {
            font-size: 0.8rem;
            margin: 2px 0;
        }
    }
    .opponent-info {
        display: flex;
        flex-direction: column;
        text-align: right;

        .player-combat-name {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        .player-combat-attack,
        .player-combat-defense {
            font-size: 0.8rem;
            margin: 2px 0;
        }
    }
}

.versus {
    position: absolute;
    top: 4%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 5;
}

.countdown {
    position: absolute;
    top: 14%;
    z-index: 10;
    font-size: 30px;
    color: #f39c12;
    text-align: center;
    margin-top: 10px;
}

.characters-display {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 15px;

    .character {
        display: flex;
        flex-direction: column;
        align-items: center;

        .player-life {
            font-size: 1.5rem;
            margin: 2px 0;
        }

        img {
            width: 250px;
            height: 250px;
            margin-top: 10px;
        }
    }
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    button {
        width: 100%;
        max-width: 300px;
        padding: 12px;
        font-size: 14px;
        font-family: 'Press Start 2P', sans-serif;
        color: #ffffff;
        background-color: #2c3e50;
        border: 2px solid #202020;
        box-shadow: 0px 4px 0px #000;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #3b3b3b;
            color: #f39c12;
            box-shadow: 0px 4px 0px #b85c38;
            border: 2px solid #b85c38;
        }

        &:active {
            box-shadow: none;
            transform: translateY(4px);
        }
        &:disabled {
            background-color: #ccc;
            color: #666;
            cursor: not-allowed;
            opacity: 0.7;
        }
        &:disabled:hover {
            box-shadow: none;
            border: none;
        }
    }
}
.combat-messages {
    font-size: 0.9rem;
    text-align: center;
}
.turn-messages {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}
.dice {
    padding: 5px;
    font-size: 1.2rem;
}
