.game-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 2px solid #b85c38;
}

.map-row {
    display: flex;
    flex: 1;
    width: 100%;
}

.map-cell {
    flex: 1;
    text-align: center;
    line-height: var(--cell-size);
    height: var(--cell-size);
    background-color: #3b3b3b;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    outline-offset: -2px;
}

.map-cell.highlight::before,
.map-cell.preview-highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.map-cell.highlight::before {
    background-color: rgba(60, 60, 60, 0.5);
    outline: 2px solid rgba(243, 156, 18, 0.5);
    outline-offset: -2px;
}

.map-cell.preview-highlight::before {
    background-image: linear-gradient(
        45deg,
        rgba(243, 156, 18, 0.5) 25%,
        transparent 25%,
        transparent 50%,
        rgba(243, 156, 18, 0.5) 50%,
        rgba(243, 156, 18, 0.5) 75%,
        transparent 75%,
        transparent
    );
    background-size: 10px 10px;

    background-color: rgba(243, 156, 18, 0.2);
    outline: 2px solid rgba(243, 156, 18, 0.5);
    outline-offset: -2px;
}

.map-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.map-cell .grid-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    z-index: 10;
}

.map-cell .grid-starting-points {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.map-cell .grid-tile {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    display: block;
}

.map-cell .grid-players {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    object-fit: cover;
    display: block;
}
.tooltip {
    position: absolute;
    max-width: 5cm;
    padding: 6px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #c0c0c0;
    border-radius: 4px;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.no-pointer-events {
    pointer-events: none;
}

.player-start-tile {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        border: 3px solid red;
        border-radius: 50%;
        z-index: 25;
        pointer-events: none;
        animation: pulse-red 2s infinite;
    }
}

@keyframes pulse-red {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        opacity: 0.7;
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
