<div class="game-players-list">
    @for (player of players; track player.socketId) {
    <div
        class="player"
        [ngClass]="{
            'active-player': player.name === currentPlayerTurn,
            'player-left': !isPlayerActive(player) && !player.isObserver,
            'observation-mode': player.isEliminated,
            'pure-observer': player.isObserver && !player.isEliminated
        }"
    >
        <div class="turn-arrow" *ngIf="player.name === currentPlayerTurn"><img src="assets/icons/arrow.png" alt="Trophée" class="icon" /></div>

        <div class="player-info">
            <span class="player-status">
                @if (isHostPlayer(player.socketId)) {
                <span class="host-icon"> <img src="assets/icons/crown.png" alt="Host" class="icon" /></span>
                } @if (isPlayerFlagDetentor(player)) {
                <span class="flag-icon"> <img src="assets/icons/flag_player.png" alt="Flag" class="icon" /></span>
                } @if (player.isObserver){
                <span class="observer-icon"> <img src="assets/icons/observer.png" alt="Observer" class="icon" /></span>
                }
            </span>
            @if (!isObserver(player)) {
            <span class="victories"> {{ player.specs.nVictories }} <img src="assets/icons/trophy_icon.png" alt="Trophy" class="icon" /></span>
            }
            <span class="player-name">{{ player.name }}</span>
        </div>
        @if (!isObserver(player)) {
        <div class="avatar-container">
            <img [src]="getAvatarPreview(player.avatar)" alt="{{ player.name }}" class="avatar" />
        </div>
        @if (!isVirtualPlayerSocketId(player.socketId)) {
        <img class="user-level" [src]="'assets/level-badges/level-' + player.level + '.png'" alt="Niveau"/>
        }
        @if (isVirtualPlayerSocketId(player.socketId)) {
        <span class="virtual-player-icon"> <img src="assets/icons/robot.png" alt="Bot" class="icon" /></span>
        }
        }
    </div>
    }
</div>
