.game-players-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
    max-width: 27vw;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    position: relative;
}

.player {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 3vw;
    border: 2px solid transparent;
    border-image: linear-gradient(to left, #b85c38, rgba(243, 156, 18, 0)) 1;
}

.player.active-player {
    border: none;
    background: linear-gradient(to left, #f39c12, rgba(243, 156, 18, 0));
}

.player-left {
    position: relative;
    opacity: 0.6;
}

.player-left::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 70%;
    height: 2px;
    background-color: #b85c38;
    transform: translateY(-50%);
    z-index: 1;
}

.pure-observer {
    position: relative;
    opacity: 0.5;
}

.pure-observer::after {
    display: none;
}

.observation-mode {
    position: relative;
    opacity: 0.6;
}

.observation-mode::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 70%;
    height: 2px;
    background-color: #b85c38;
    transform: translateY(-50%);
    z-index: 1;
}

.turn-arrow {
    position: absolute;
    left: -1.3vw;
    font-size: 1.5em;
    color: #f39c12;
    flex-shrink: 0;
    animation: glow 1.5s infinite alternate;
    z-index: 2;
}

.turn-arrow img {
    width: 35px;
    height: 35px;
}

@keyframes glow {
    0% {
        text-shadow:
            0 0 5px #f39c12,
            0 0 10px #f39c12;
    }
    100% {
        text-shadow:
            0 0 20px #f39c12,
            0 0 30px #f39c12;
    }
}

.player-info {
    display: flex;
    position: relative;
    flex-direction: row;
    color: #e0e0e0;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.player-name {
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 8vw;
}

.player-status {
    display: flex;
    align-items: right;
    font-size: 1rem;
    color: #ddd;
    gap: 0.5vw;
}

.player-status,
.victories,
.player-name {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1vw;
}

.player.active-player .player-status::after,
.player.active-player .victories::after,
.player.active-player .player-info::after {
    background-color: #f39c12;
}

.player-status::after,
.player-info:after,
.victories::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 0.5px;
    background-color: #b85c38;
    transition: background-color 0.3s ease;
}

.victories::after {
    background-color: #b85c38;
}
.victories {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    color: #fff;
}

.icon {
    width: 30px;
    height: 30px;
}

.avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vw;
    margin-left: 1vw;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-level {
    width: 35px;
    height: 35px;
    object-fit: contain;
    right: 0;
}