<div class="map-cards">
    @for(map of maps; track map.name) {
    <div class="map-card">
        <div class="map-image-container">
            <img [src]="map.imagePreview" alt="map-preview" class="map-img" />
            <div class="description-overlay">
                <p class="description">{{ map.description }}</p>
            </div>
        </div>

        <div class="map-details">
            <div class="map-details">
                <h2 class="name">{{ map.name }}</h2>
                <p class="size">Taille : {{ map.mapSize.x }} x {{ map.mapSize.y }}</p>
                <p class="creator">Créateur : {{ mapCreators.get(map._id.toString()) }}</p>
                <p class="state">État : {{ stateInFrench(map.state) }}</p>
                <p class="visibility" (click)="onToggleVisibility(map._id!.toString())">
                    @if(map.isVisible) {
                    <span> Visible </span>
                    <i class="fas fa-eye"></i>
                    } @else {
                    <span> Cachée </span>
                    <i class="fas fa-eye-slash"></i>
                    }
                </p>
            </div>
            <div class="map-actions">
                <button class="edit-button" (click)="onEditMap(map)">
                    <i class="fas fa-pencil-alt"></i>
                </button>

                <button class="map-delete" (click)="onDeleteMap(map)">
                    <i class="fas fa-trash"></i>
                </button>

                @if(map.state === publicSate) {
                <button class="duplicate-button" (click)="onDuplicateMap(map)" title="Dupliquer">
                    <i class="fas fa-copy"></i>
                </button>
                }
            </div>
            <p class="lastModified">Dernière modification le {{ formatDate(map.lastModified) }}</p>
        </div>
    </div>
    }
</div>

@if (currentMapId) {
<div class="open-confirmation-modal" [class.show]="showDeleteModal">
    <div class="modal">
        <h2>Confirmer la suppression</h2>
        <p>Êtes-vous sûr de vouloir supprimer ce jeu ?</p>
        <div class="modal-buttons">
            <button class="modal-button" (click)="onConfirmDelete(currentMapId)">Oui</button>
            <button class="modal-button" (click)="onCloseDeleteModal()">Non</button>
        </div>
    </div>
</div>
}
