.map-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
}

.map-cards::-webkit-scrollbar {
    width: 12px;
}

.map-cards::-webkit-scrollbar-thumb {
    background: #2c3e50;
    border: 1px solid #202020;
}

.map-cards::-webkit-scrollbar-thumb:hover {
    background: #2c3e50;
    border-color: #9c9c9c;
}

.map-cards::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #202020;
}

.map-card {
    position: relative;
    flex: 0 0 auto;
    width: 18vw;
    height: calc(70vh - 30px);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #7d7f7d;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition:
        transform 0.3s,
        border-color 0.3s;
    gap: 15px;
    box-sizing: border-box;

    &:hover {
        border-color: #bdbdbd;
        .gamemode-bar {
            border-color: #bdbdbd;
        }
    }

    .map-image-container {
        position: relative;
        flex-shrink: 0;
        top: 10px;

        .map-img {
            width: 15vw;
            object-fit: cover;
            border: 1px solid #202020;
        }
    }

    .map-details {
        width: auto;
        max-width: 100%;
        padding: 5px;
        text-align: center;
        color: #c0c0c0;

        h2 {
            font-size: 1.1rem;
            margin: 0;
            overflow: hidden;
            line-height: 1.5em;
            transition: transform 0.3s ease;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .mode,
        .size,
        .creator,
        .state {
            font-size: 0.7rem;
            margin: 5px 0;
            text-align: center;
            overflow: visible;
            white-space: normal;
            width: 100%;
            font-style: italic;
        }

        .visibility {
            font-size: 0.7rem;
            margin: 5px 0;
            text-align: center;
            overflow: visible;
            white-space: normal;
            width: 100%;
            cursor: pointer;
            z-index: 3;
            font-style: italic;
            &:hover {
                color: #ffffff;
                transform: scale(1.1);
            }
        }

        .lastModified {
            font-size: 0.5rem;
            text-align: center;
            overflow: visible;
            white-space: normal;
            width: 100%;
        }
    }

    .map-actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 15px;

        .edit-button,
        .map-delete,
        .duplicate-button {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: #2c3e50;
            border: 3px solid #202020;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;

            i {
                font-size: 1.2rem;
            }
        }

        .map-delete:hover {
            background-color: #953939;
        }

        .edit-button:hover {
            background-color: #3b3f46;
        }

        .duplicate-button:hover {
            background-color: #2980b9;
        }
    }
}

.description-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.description-overlay:hover {
    opacity: 1;
}

.map-img:hover .description {
    margin: 0px;
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    opacity: 1;
}

.description {
    margin: 0px;
    padding: 0px 5px;
    height: 100%;
    color: #c0c0c0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}
.open-confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal h2 {
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: center;
    font-size: 1.2rem;
    color: #aa3d3d;
}

.modal p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #c0c0c0;
    max-width: fit-content;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    min-height: 3em;
    line-height: 1.5em;
    font-family: 'Press Start 2P';
}

.open-confirmation-modal.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #1c242c;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #7d7f7d;
    position: relative;
    z-index: 1001;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Press Start 2P', sans-serif;
    color: #c0c0c0;
    font-weight: bold;
    background: none;
    border: none;
}

.modal-buttons {
    display: flex;
    justify-content: center;
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #2c3e50;
    border: 3px solid #202020;
    color: white;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #3b3f46;
}
