button {
    padding: 10px 25px;
    border: 2px solid #c0c0c0;
    background-color: #2c3e50;
    color: #c0c0c0;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
    width: 17vw;
    font-family: 'Press Start 2P', sans-serif;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;

    &:hover {
        background-color: #3b3f46;
    }

    &.selected {
        background-color: #3b3f46;
        color: white;
    }
}

.game-code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #c0c0c0;
    font-size: 1.5rem;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.game-access-box {
    color: #c0c0c0;
    border-radius: 5px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    background-color: transparent;
    position: relative;
}

.code-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.code-input {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #c0c0c0;
    background-color: #2c3e50;
    color: #c0c0c0;
    font-family: 'Press Start 2P', sans-serif;
    transition: border-color 0.3s ease;
}

.code-input:focus {
    border-color: white;
    outline: none;
}

.game-access-box {
    color: #c0c0c0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
    background-color: transparent;
    position: relative;
}

.join-game {
    padding-top: 20px;
    width: 100%;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
