<div class="journal-container">
    <div class="journal-filter">
        <label for="dropdown">Filtre: </label>
        <select [(ngModel)]="filter" (change)="toggleShowAll()" id="dropdown">
            <option value="all">Tous les événements</option>
            <option value="involved-only">Mes événements</option>
        </select>
    </div>
    <div class="journal-body">
        <ul id="journalList">
            @for (entry of filteredJournalEntries; track entry) {
            <li>
                {{ entry.message }} <span class="timestamp">{{ entry.timestamp | date: 'HH:mm:ss' }}</span>
            </li>
            }
        </ul>
    </div>
</div>
