<div class="endgame-container">
    <div class="stats-container">
        <h1>Fin de partie</h1>
        <table id="stats-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Joueur</th>
                    <th (click)="endgameService.sortCombats()">
                        Combats <span>{{ endgameService.isCombatSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortEvasions()">
                        Évasions <span>{{ endgameService.isEvasionSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortVictories()">
                        Victoires <span>{{ endgameService.isVictoriesSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortDefeats()">
                        Défaites <span>{{ endgameService.isDefeatsSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortLostLife()">
                        Vie perdue <span>{{ endgameService.isLostLifeSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortStolenLife()">
                        Vie infligée <span>{{ endgameService.isStolenLifeSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortObjects()">
                        Objets ramassés <span>{{ endgameService.isObjectsSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                    <th (click)="endgameService.sortVisitedTiles()">
                        Tuiles visitées <span>{{ endgameService.isTilesSortingAsc ? '↓' : '↑' }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (gamePlayer of players; track gamePlayer.socketId) {
                <tr
                    [style.background-image]="getPlayerBanner(gamePlayer.name) ? 'url(' + getPlayerBanner(gamePlayer.name) + ')' : 'none'"
                    [class.has-banner]="getPlayerBanner(gamePlayer.name)"
                >
                    @if (!getPlayerBanner(gamePlayer.name)) {
                    <td class="player-cell"></td>
                    }
                    <td class="player-cell">
                        <div class="cell-content player-info">
                            <img [src]="getAvatarPreview(gamePlayer.avatar)" class="player-avatar" alt="avatar" />
                            <span class="player-name">{{ gamePlayer.name }}</span>
                            @if (!isVirtualPlayer(gamePlayer.socketId)) {
                            <img class="user-level" [src]="'assets/level-badges/level-' + gamePlayer.level + '.png'" alt="Niveau" />
                            } @if (isVirtualPlayer(gamePlayer.socketId)) {
                            <img src="assets/icons/robot.png" alt="Bot" class="robot-icon" />
                            }
                        </div>
                    </td>
                    <td class="player-cell">
                        <div class="cell-content">{{ gamePlayer.specs.nCombats }}</div>
                    </td>
                    <td class="player-cell">
                        <div class="cell-content">{{ gamePlayer.specs.nEvasions }}</div>
                    </td>
                    <td class="player-cell">
                        <div class="cell-content">{{ gamePlayer.specs.nVictories }}</div>
                    </td>
                    <td class="player-cell">
                        <div class="cell-content">{{ gamePlayer.specs.nDefeats }}</div>
                    </td>
                    <td class="player-cell">
                        <div class="cell-content">{{ gamePlayer.specs.nLifeLost }}</div>
                    </td>
                    <td class="player-cell">
                        <div class="cell-content">{{ gamePlayer.specs.nLifeTaken }}</div>
                    </td>
                    <td class="player-cell">
                        <div class="cell-content">{{ gamePlayer.specs.nItemsUsed }}</div>
                    </td>
                    <td class="player-cell">
                        <div class="cell-content">{{ endgameService.getPlayerTilePercentage(gamePlayer, game) }}%</div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <button class="chat-toggle-button" aria-label="Toggle global chat" (click)="isChatVisible = !isChatVisible">
        <span class="material-icons">chat_bubble_outline</span>
    </button>
    <div class="global-chat-wrapper" [hidden]="!isChatVisible">
        <app-chatroom [gameId]="this.game.id" [isInGame]="true" (closed)="isChatVisible = false"></app-chatroom>
    </div>
    <div class="global-stats-container">
        <h1>Statistiques globales de la partie</h1>
        <p>Durée de la partie : {{ endgameService.gameDurationInMinutes(game.duration) }}</p>
        <p>Tours de jeu : {{ game.nTurns }}</p>
        <p>Pourcentage total de tuiles visitées : {{ endgameService.gameTilePercentage(game) }}%</p>
        <p>Pourcentage total des portes manipulées : {{ endgameService.gameDoorPercentage(game) }}%</p>
        @if (isGameCtf(game)) {
        <p>Nombre de joueurs différents ayant détenu le drapeau : {{ endgameService.getFlagPickupPlayers(game) }}</p>
        }
    </div>
    <div class="exit-button-container">
        @if (moneyReward > 0 || challengeReward > 0) {
        <div class="money-reward-card">
            <div class="reward-icon">
                <img src="assets/icons/money.png" alt="Money icon" />
            </div>
            <div class="reward-content">
                <h2>Récompenses</h2>
                <div class="total-amount">+{{ moneyReward + challengeReward }} pièces</div>
                <div class="reward-breakdown">
                    @if (moneyReward > 0) {
                    <div class="breakdown-item">
                        <span>Partie:</span>
                        <span class="amount">+{{ moneyReward }}</span>
                    </div>
                    } @if (challengeReward > 0) {
                    <div class="breakdown-item">
                        <span>Défi:</span>
                        <span class="amount">+{{ challengeReward }}</span>
                    </div>
                    }
                </div>
            </div>
        </div>
        }
        <button (click)="navigateToMain()">Menu principal</button>
    </div>
    @if(showLevelModal){
    <div class="levelup-backdrop">
        <div class="levelup-modal">
            <h2>Félicitations ! 🎉</h2>
            <p>
                Tu viens de passer au <strong>niveau {{ newLevel }}</strong> !
            </p>

            @if (bannerUnlocked) {
            <p>Tu as débloqué une nouvelle bannière. Va voir la boutique pour la découvrir !</p>
            } @else {
            <p>Continue de jouer, une nouvelle bannière t’attend tous les 5 niveaux.</p>
            }

            <div class="levelup-action">
                <button (click)="showLevelModal = false">OK</button>
            </div>
        </div>
    </div>
    }
</div>
