.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);

    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.profile-modal-container {
    background-color: #1c242c;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #7d7f7d;
    position: relative;
    z-index: 1000;
}

.modal-title {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-options {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.profile-button {
    padding: 10px 30px;
    font-size: 17px;
    font-family: 'Press Start 2P', cursive;
    border: none;
    cursor: pointer;
    background-color: #2c3e50;
    border: 3px solid white;
    color: white;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: var(--profile-button-hover, rgba(243, 156, 18, 0.6));
}

.profile-button--active {
    background-color: var(--profile-button-hover, rgba(243, 156, 18, 0.6));
}

.action-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.close-button {
    padding: 12px 30px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: #2c3e50;
    color: white;
    border: 3px solid #202020;
    transition: background-color 0.3s;
    font-family: 'Press Start 2P', cursive;
}

.close-button:hover {
    background-color: rgb(107, 59, 59);
}

.close-button:active {
    transform: scale(0.9);
}

.create-player-button {
    padding: 12px 30px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: rgb(106, 151, 106);
    color: white;
    transition: background-color 0.3s;
    font-family: 'Press Start 2P', cursive;
}

.create-player-button:hover:not(:disabled) {
    background-color: rgb(79, 108, 79);
}

.create-player-button:disabled {
    background-color: rgb(100, 100, 100);
    color: rgb(180, 180, 180);
    cursor: not-allowed;
    opacity: 0.6;
}
