<div class="popup-overlay">
    <div class="combat-container">
        <button class="close-button" (click)="closeModal()">X</button>
        <div class="header">Choisis ton adversaire</div>
        <div class="opponents-container">
            @if(possibleOpponents && possibleOpponents.length>0){ @for(opponent of possibleOpponents; track opponent.socketId) {
            <div class="opponent-card">
                <div class="opponent-name">{{ opponent.name }}</div>
                <button class="attack-button" (click)="attack(opponent)">ATTAQUER</button>
            </div>
            } }
        </div>
    </div>
</div>
