.game-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    gap: 0.5vw;
}

.game-info h2 {
    text-align: start;
    font-size: 0.8rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.info-item {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 36, 44, 0.8);
    border: 1px solid #b85c38;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.info-item p {
    color: #c0c0c0;
    font-size: 12px;
    margin: 0;
    line-height: 1.2;
}

.info-item span {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

