.control-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    margin-top: 60px;
}

.header-section {
    width: 100%;
    display: flex;
    align-items: center;
}

h2 {
    width: 100%;
    font-size: 1.05rem;
    line-height: 1.2;
    color: #c0c0c0;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.title-area,
.description-area,
.creator-area,
.state-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h3 {
    font-size: 0.9rem;
    color: #c0c0c0;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
p {
    font-size: 0.8rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

textarea {
    resize: none;
    height: 5em;
    line-height: 1.2;
    vertical-align: top;
    font-size: 1rem;
    background-color: #2c3e50;
    color: white;
    border: 1px solid black;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
input,
select {
    font-size: 1rem;
    background-color: #2c3e50;
    color: white;
    border: 1px solid black;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

select {
    padding: 5px;
    cursor: pointer;
}

select option {
    background-color: #2c3e50;
    color: white;
}

.edit-button {
    font-size: 1rem;
}
.save-button {
    width: 100%;
    margin-top: 20px;
    background-color: #2c3e50;
    color: #c0c0c0;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    font-family: 'Press Start 2P', sans-serif;
}
.button-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    bottom: 0;
    margin-bottom: 90px;
}

button {
    background-color: #2c3e50;
    color: #c0c0c0;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    font-family: 'Press Start 2P', sans-serif;
}

button:hover {
    background-color: #1c2733;
}

.error-message {
    color: #c0c0c0;
    font-size: 10px;
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
}
