<div class="control-bar">
    <div class="info-section">
        <div class="header-section">
            <h2>Informations sur le jeu</h2>
        </div>
        <div class="input-section">
            <div class="title-area">
                <h3>Titre</h3>
                @if(editMode) {

                <input [(ngModel)]="title" maxlength="14" />
                } @else {
                <p>{{ title }}</p>
                }
            </div>

            <div class="description-area">
                <h3>Description</h3>
                @if(editMode) {

                <textarea [(ngModel)]="description" rows="3" maxlength="100" wrap="soft"></textarea>
                } @else {
                <p>{{ description }}</p>
                }
            </div>

            <div class="creator-area">
                <h3>Créateur</h3>
                <p>{{ creator || 'Non défini' }}</p>
            </div>

            <div class="state-area">
                <h3>Visibilité</h3>
                @if(editMode) {
                <select [(ngModel)]="mapState">
                    <option [value]="MapState.Public">Public</option>
                    <option [value]="MapState.Private">Privé</option>
                    <option [value]="MapState.Share">Privé-Partagé</option>
                </select>
                } @else {
                <p>{{ mapState === MapState.Public ? 'Public' : mapState === MapState.Private ? 'Privé' : 'Partagé' }}</p>
                }
            </div>
        </div>
        @if(!editMode) {
        <button (click)="toggleEditing()" class="edit-button">
            <i class="fas fa-pencil-alt"></i>
        </button>
        } @if(editMode) {
        <button (click)="toggleEditing()" class="save-button">Sauvegarder</button>
        }
    </div>

    <div class="button-section">
        <div class="error-message">{{ message }}</div>
        <button (click)="resetMap()">Réinitialiser</button>
        <button (click)="saveMap()">Sauvegarder</button>
        <button (click)="back()">Administration des jeux</button>
    </div>
</div>
